

BETTER_AUTH_SECRET="YOUR BETTER AUTH SECRET"
BETTER_AUTH_URL="http://localhost:5173"

DATA_ENCRYPTION_KEY="YOUR DATA ENCRYPTION KEY"

CLOUDFLARE_ACCOUNT_ID="YOUR CLOUDFLARE ACCOUNT ID"
CLOUDFLARE_DATABASE_ID="YOUR CLOUDFLARE DATABASE ID"
CLOUDFLARE_D1_TOKEN="YOUR CLOUDFLARE D1 TOKEN"

GITHUB_CLIENT_ID="YOUR GITHUB CLIENT ID"
GITHUB_CLIENT_SECRET="YOUR GITHUB CLIENT SECRET"
